# Change the default telnet port...
telnet_port 4444

# Port for TCL connection.
tcl_port 6666

# GDB connects here
gdb_port 3333

source [find PROGRAMMER_TYPE]

source [find PROGRAMMER_CPU]

$_TARGETNAME configure -event reset-start {
	cpu_setup
	# this will work only with (intel) hex files, which have ROM address information
	flash write_image IMAGE_FILE
}

$_TARGETNAME configure -event reset-end "shutdown"

init
reset run
