# Change the default telnet port...
telnet_port 4444

# Port for TCL connection.
tcl_port 6666

# GDB connects here
gdb_port 3333

source [find PROGRAMMER_TYPE]

source [find PROGRAMMER_CPU]

init
reset run
